/*===============Propiedades Globales================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Estilos para el menú de navegación */
.navbar {
    background-color: transparent; /* Fondo transparente */
    width: 100%; /* Ancho completo */
    padding: 20px; /* Espaciado interno para los elementos del menú */
}
.container {
    justify-content: center;    
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.col-md-6 {
    padding: 0%;
    margin: 0%;
    justify-content: center;
    width: 100%;
    align-items: block;
}

#seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-link {
    color: white; /* Color del texto del menú */
    font-weight: bold;
}

/* Puedes ajustar otros estilos según tus necesidades */


/*===================s==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel1 img {
    width: 10rem;
    align-items: center;
}
.carousel2 img {
    width: 10rem;
    align-items: center;
}
/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.mapa {
    background: url(../img/map.png);
    width:57%;
    height:27rem;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}

#facilities-text {
    color: #3f3f3f;
    font-size: 1.6rem;
}


/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
    justify-content: center;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    
    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
        
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}


/* Estilo para el encabezado */
header {
    background-color: #56a4f8;
    padding: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    

}
.nav li:hover {
    background-color: #25282c;
    color: #fff;
    transition: 0.5s;
}
.nav {
    display: flex;
    list-style: none;
    position: relative;
    right: 0;
    color: black;
    margin-left: auto;
    }

  
  .nav li {
    display: inline-block;
    margin-right: 3rem;
    font-size: 1.5rem;
        align-items: flex-end;
    flex: 1;
  }

.navbar-brand img {
    width: 60px; /* Modifica el ancho de la imagen a tu preferencia */
    height: auto; /* Ajusta la altura automáticamente */
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ff9900;
}

/* Estilo para el botón de WhatsApp */
.whatsapp-button {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.whatsapp-button img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: transparent;
    border: none;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav .nav-item {
    padding: 0;
    margin: 0 10px;
}

.navbar-toggler {
    border: none;
}

/* Estilo para los enlaces de navegación */
.nav-link {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}
/* Estilo para ocultar los botones en el centro del carrusel */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0; /* Oculta los botones por defecto */
    pointer-events: none; /* Evita la interacción con los botones ocultos */
    width: 0; /* Ancho cero */
    height: 0; /* Altura cero */
    transition: opacity 0.3s; /* Efecto de transición de opacidad */
}

/* Estilo para mostrar los botones en los lados izquierdo y derecho */
#carousel:hover .carousel-control-prev,
#carousel:hover .carousel-control-next {
    opacity: 1; /* Muestra los botones cuando el carrusel está en foco */
    width: auto; /* Ancho automático para mostrar los botones */
    height: auto; /* Altura automática para mostrar los botones */
    pointer-events: auto; /* Habilita la interacción con los botones */
}

/* Estilo para el título */
.page-title {
    font-family: "Arial", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #333; /* Cambia el color a tu preferencia */
    text-shadow: 2px 2px 4px rgba(244, 129, 52, 0.949); /* Agrega sombra de texto */
    text-align: center;
    padding: 20px; /* Espaciado alrededor del título */
}

/* Estilo para el texto */
    p {
        font-size: 1.6rem;
        line-height: 1.5;

    }
    
    h2 {
        font-size: 28px;
        color: #007BFF;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 24px;
        color: #29496c;
        margin-bottom: 10px;
    }

    p.concss {
        font-size: 34px;
        font-weight: bold;
        font-style: italic;
        font-family: arial;
        text-transform: uppercase;
        color: #b80935;
        text-align: center;
        word-spacing: 8px;
        margin: 0;
    }
#seccion-contacto {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    color: red;
}